html{
    background-color: darkslateblue;
}
#frame{
    background-color: slateblue;
    width: 200px;
    height: 350px;
    margin-top: 4vw;
    margin-left: 2vw;
    border-radius: 2%;
    position: fixed;
}
#screen{
    background-color: lightgreen;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 160px;
    height: 40px;
    margin-top: 15px;
    margin-left: auto;
    margin-bottom: 5px;
    position: relative;
}
#grid{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 40px);
    position: relative;
}
button{
    border-radius: 10%;
    background-color: royalblue;
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    color: springgreen;
}
#clear{
    padding-left: 3px;
    background-color: red;
    color: white;
}